# Core app
streamlit
streamlit-pills
python-dotenv

# Google APIs
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2
protobuf
google-generativeai

# Langchain + Chroma
pysqlite3-binary           # Must come BEFORE chromadb
chromadb==0.4.15
langchain
langchain-chroma
langchain-community
langchain-google-genai

# Web backend
fastapi
uvicorn
pydantic

# Data & Visualization
pandas
requests
numpy
matplotlib
seaborn
